@import "../../styles/variables.scss";

.formContainer {
  background-color: $lightBlue;
  color: #fff;
  margin-top: 90px;
  text-align: center;
  padding: 70px 0;
}

.joindedUsers {
  font-size: 1.3rem;
  font-weight: $regularFont;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.form {
  &__inner {
    margin-top: 30px;
  }

  h6 {
    margin-top: 10px;
    font-weight: $boldFont;
    font-size: 2.3rem;
  }
}

.inputContainer {
  background-color: $lightRed;
  border: 3px solid;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow: hidden;

  &.error {
    border-color: $lightRed;
  }

  &__field {
    background-color: #fff;
    border-radius: 1px;
    padding: 15px 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
    column-gap: 5px;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.4rem;
      padding-left: 10px;

      &::placeholder {
        color: $grey;
        font-size: 1.4rem;
      }
    }
  }
}

.errorMessage {
  font-size: 1rem;
  font-weight: $boldFont;
  text-align: start;
  padding: 10px 10px 7px;
}

@media screen and (min-width: $mobileWidth) {
  .joindedUsers {
    font-size: 1.2rem;
  }
  .form {
    max-width: 520px;
    margin: 0 auto;

    &__inner {
      display: grid;
      grid-template-columns: 1fr 120px;
      align-items: flex-start;
      column-gap: 15px;
    }

    h6 {
      font-size: 3.4rem;
    }
  }
  .inputContainer {
    margin-bottom: 0;

    &__field {
      padding: 9px 10px;
    }
  }
}
