$lightBlue: hsl(231, 69%, 60%);
$lightRed: hsl(0, 94%, 66%);

$grey: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);

$regularFont: 400;
$boldFont: 500;

$mainFontSize: 1.8rem;

$mobileWidth: 768px;
$desktopWidth: 1440px;
